.memory {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
    user-select: none;
  }
  
  .game main{
    flex-basis: 400px;
  }
  aside{
    flex-basis: 600px;
  }
  
  .game{
    display: flex;
    justify-content: space-around;
  }
  
  .title{
    text-align: center;
  }