.main-wrapper{
    margin: 1em;
}

.home_img img{
    width: 350px;
}
.home_img{
    min-height: 250px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

#root {
    height: 100vh;
    margin:auto;
    text-align: center;
}

.img-contain{
    object-fit: contain;
}

@media screen and (max-width: 1480px){
    header img{
        display:none;
    }
    header.sticky img{
        display: initial;
    }
}

/* @media screen and (max-width:1100px){



} */



@media screen and (max-width:640px){

    .home_img img {
        width: 100%;
    }
    .home_img{
        min-height: initial;
    }

    .wrapper .memory {
        width: 100%;
    }

    .wrapper .clavier{
        width: 301px;
    }

}
